/**
 * @author Emrah Kumru
 */

.cities-header {
  text-align: center;
  font-size: 30px;
  margin: $base-gutter - 10px 0;

}

.back-button {
  position: absolute;
  margin: $base-gutter;
  font-weight: 500;

}