/**
 * @author Emrah Kumru
 */
/**
 * @author Emrah Kumru
 */
/**
 * @author Emrah Kumru
 */
body {
  width: 100%;
  height: 100%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

a {
  text-decoration: none;
  color: #000;
}

/**
 * @author Emrah Kumru
 */
/**
 * @author Emrah Kumru
 */
/**
 * @author Emrah Kumru
 */
.cities-header {
  text-align: center;
  font-size: 30px;
  margin: 10px 0;
}

.back-button {
  position: absolute;
  margin: 20px;
  font-weight: 500;
}

/**
 * @author Emrah Kumru
 */
.cities-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  margin: 0 30px;
}

.cities-search input {
  border: 0;
  padding: 10px;
  border-bottom: 1px solid gray;
  width: 300px;
  outline: none;
  font-size: 20px;
}

/**
 * @author Emrah Kumru
 */
.cities {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.43);
  border-radius: 20px;
  padding: 5px;
}

.cities ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

.cities ul li {
  border-top: 1px solid rgba(128, 128, 128, 0.43);
}

.cities ul li:first-child {
  border: none;
}

.cities ul li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: all 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
  z-index: 3;
  margin: 5px;
  border: 0;
}

.cities ul li a {
  padding: 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cities .city-name {
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
}

.cities .city-weather {
  font-size: 28px;
  text-align: center;
}
